* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 1152px;  /* use width between 1145 and 1165 */
    margin-left: auto;
    margin-right: auto;
    background-color: #d9dcd6;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

header {
    padding: 20px;
    background-color: #2a607c;
}

header h1 {
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 48px;
}

header h1 #seo {
    color: #d9dcd6;
}

header nav {
    float: right;
    padding-top: 15px;
    margin-right: 20px;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

#hero img {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
}

section {
    display: inline-block;
    width: 75%;
    margin-left: 20px;
}

section article {
    height: 300px;
    padding: 50px;
    margin-bottom: 20px;
    background-color: #0072bb;
}

section article img {
    max-height: 200px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

section article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

aside {
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    padding: 20px;
    margin-right: 20px;
    background-color: #2589bd;
}

aside article {
    margin-bottom: 32px;
}

aside article h3 {
    margin-bottom: 10px;
    text-align: center;
}

aside article img {
    display: block;
    max-width: 150px;
    margin: 10px auto;
}

footer {
    clear: both;
    padding: 30px;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
